.parent {
  background-color: cornflowerblue;
  height: 400px;
  width: 400px;
}
.child {
  background-color: red;
  height: 50%;
  width: 50%;
  transition: 1s;
}

/*when hover the child, transform propertie */
.parent:hover .child {
  background-color: green;
  transform: translateX(100%);
}
